@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Montserrat:900|Teko:700|Roboto:300,400&display=swap');

.number_display_viz-container {
    /*position: relative; */
    display: flex;
    justify-content: space-evenly;

}
.number_display_viz-wrap_item {
    position: relative; 
    width: 100%;
}
.number_display_viz-overlay_text {
    width: 100%;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    z-index: 3;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
}
.number_display_viz-overlay_title {
    width: 100%;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    z-index: 3;
    overflow: hidden;
}
.number_display_viz-unit {
    opacity: 0.7;
}
.number_display_viz-unit-afterabs {
    position:absolute;
}
.number_display_viz-unit-under {
    display: block;
    line-height: 15%;
}
.number_display_viz-thin {
    font-weight: normal;
}
.number_display_viz-gf1 {
    font-family: 'Teko', sans-serif;
    font-weight: 700;
}
.number_display_viz-gf2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.number_display_viz-gf3 {
    font-family: 'Luckiest Guy', cursive;
    font-weight: 400;
}
.number_display_viz-gf4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.number_display_viz-gf5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.number_display_viz-wrap_areachart,
.number_display_viz-wrap_main {
    position: absolute;
    margin: 0 auto;
    width:100%;
    height: 100%;
    z-index: 1;
}
